body
{
    background-color: #333;
    min-width: 370px;
}
#info
{
    font-size: 3em;
    color: greenyellow;
}
nav
{
    padding: 10pt 10pt;
    margin-bottom: 2pt;
    background-color: #333;
    overflow: hidden;
}
#allt, #Type1, #Type2, #Type3
{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
}
main
{
    padding: 2%;
    padding-right: 0%;
    overflow: auto;
    background-color: lemonchiffon;
    height: auto;
}
@keyframes glowing 
{
    0% { height: 40pt; width:40pt; margin-top: 10pt; }
    50% { height: 60pt; width:60pt; margin-top: 0pt; }
    100% { height: 40pt; width:40pt; margin-top: 10pt; }
}
nav a
{
    font-weight: bolder;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}
nav a
{
    font-size: auto;
    padding: 8px 3px;
}
nav a:hover 
{
    background-color: #ddd;
    color: black;
}
nav a.active
{
    background-color: gray;
}
main article 
{
    display: grid;
    grid-gap: 0pt;
    width: 15.3%;
    border-width: 1%;
    border: 0.3rem solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
    height: auto;
    min-width: 5rem;
}
main article img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
main article h2
{
    font-size: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}
main article p
{
    font-size: auto;
    text-align: center;
    margin: 0%;
    height: auto;
    min-height: 3rem;
    max-height: 10rem;
    overflow: auto;
}
footer
{
    float: right;
}
/*Slider*/
.slider-all
{
    background-color: lemonchiffon;
}
#slider 
{
    
	text-align: center;
    margin: 0 auto;
}
#slides article
{
	width: 33.33333333333333333333%;
    float: left;
}

#slides .image
{
	width: 300%;
    line-height: 0;
}

#overflow{
	width: 100%;
	overflow: hidden;
}

.slider-all article img
{
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: none;
    pointer-events: none;
}

#desktop:checked ~ #slider
{
	width: 100%;
}

label
{
	cursor: pointer;
}

.slider-all input
{
	display: none;
}

#switch1:checked ~ #slides .image
{
	margin-left: 0;
}

#switch2:checked ~ #slides .image
{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image
{
	margin-left: -200%;
}

#active label
{
	border-radius: 10px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active
{
	margin: 2% 0 0;
	text-align: center;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3)
{
	background: #18a3dd;
	border-color: #18a3dd;
}

#slides .image
{
	transition: all 2000ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

/*portrait*/
@media screen and (orientation:portrait)
{
    main article 
    {
        width: 22%;
    }
    main article h2
    {
        font-size: 1rem;
    }
    main article p
    {
        font-size: 0.7rem;
    }
}
